<div class="border border_alliance_change"></div>
<div class="content">
	<span class="pull-left">
		<%= link_to a.owner.name, a.owner %> hat zur Allianz <%= link_to a.trackable.alliance.name , '#' %> gewächselt
	</span>

	<span class="pull-right conquer_time">
		<%= fa_icon 'shield' %>
	</span>
</div>