@media screen and (min-width:768px){
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
	}
	.navbar>.container .navbar-brand-centered, 
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
	.notifications_label {
		background: #86c35d;
		color: #fff;
		font-size: 8px;
		padding: 2px;
		border-radius: 2px;
		line-height: 10px;
		position: absolute;
		display: block;
		right: 25px;
		top: 8px;
	}
}