// Breadcrumb
.player_crumb {
	margin-bottom: 12px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	.inner {
		font-size: 14px;
		line-height: 44px;
		vertical-align: middle;
		zoom: 1;
		.pull-left, .pull-right {
			font-size: 14px;
			line-height: 44px;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				white-space: nowrap;
				li {
					border-left: #e9eaed solid 1px;
					display: inline-block;
					list-style-type: none;
					max-width: 100%;
					position: relative;
					vertical-align: middle;
					display: inline-block;
					vertical-align: baseline;
					white-space: nowrap;
					text-align: -webkit-match-parent;
					line-height: 28px;
					a {
						padding: 0 16px;
						text-overflow: ellipsis;
						color: #141823;
						text-decoration: none;
					}
					&:hover {
						background-color: #f6f7f8;
						border-color: #f6f7f8;
					}
					&:first-child {
						border-left: none;
					}
				}
			}
		}
		.pull-left {
			.player_name {
				font-weight: bold;
			}
			.player_alliance a {
				color: #9197a3;
			}
		}
		.pull-right {
			a {
				color: #9197a3!important;
			}
		}
	}
}

// Statistics Boxes
.stat_box {
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 20px;
	padding-top: 25px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	text-align: center;
	.icon {
		height: 20px;
		margin-bottom: 16px;
		font-size: 25px;
	}
	.title {
		font-weight: bold;
	}
	.meta {
		color: #9197a3;
	}
}

// Town List
.town_list {
	margin-bottom: 12px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	zoom: 1;
	.title {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background: #f6f7f8;
		height: 47px;
		padding: 0 12px;
		span {
			line-height: 47px;
			color: #4e5665;
			font-weight: bold;
		}
	}
	.list {
		zoom: 1;
		.individual_town {
			padding: 0;
			border-top: 1px solid #e5e5e5;
			-webkit-transition: background-color 70ms linear;
	    -moz-transition: background-color 70ms linear;
	    -o-transition: background-color 70ms linear;
	    -ms-transition: background-color 70ms linear;
	    transition: background-color 70ms linear;
			&:hover {
				background-color: #e9eaed;
			}
			.border_left_eo {
				background-color: #4d68a4;
				height: 75px;
				width: 4px;
				float: left;
			}
			.border_left_normal {
				background-color: #9197a3;
				height: 75px;
				width: 4px;
				float: left;
			}
			.border_left_intern {
				background-color: #86c35d;
				height: 75px;
				width: 4px;
				float: left;
			}
			.content {
				font-size: 14px;
				line-height: 20px;
				padding: 15px 24px 0 24px;
				overflow: hidden;
				.pull-right {
					font-size: 14px;
					line-height: 18px;
					color: #9197a3;
					.meta {
						.conquer_time {
							margin-top: 3px;
							float: right;
							color: #ccc;
							&:hover {
								color: #9197a3;
								cursor: default;
							}
						}
					}
				}
				.pull-left {
					height: 60px;
					width: 420px;
					word-wrap: break-word;
					overflow: hidden;
					a {
						color: #3b5998;
						cursor: pointer;
						text-decoration: none;
						.town_name {
							font-weight: bold;
						}
						.conquer_type {
							color: #86c35d;
						}
						.meta {
							color: #9197a3;
						}
					}
				}
			}
		}
	}
}