.grecqo_home {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	.stat_box_links {
		text-decoration: none;
		color: inherit;
	}
	.banner {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		border-radius: 3px;
		.inner {
			min-height: 325px;
			background: url(http://i.imgur.com/Ybqrn2y.png) no-repeat top left;
			border-radius: 3px;
			.text {
				padding: 70px;
				h1 {
					color: #fff;
					font-size: 48px;
					font-weight: 300;
					line-height: 48px;
				}
				p {
					color: #fff;
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
	.discovery {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		border-radius: 3px;
		.first_section {
			min-height: 240px;
			background: url(http://i.imgur.com/3EcnMFi.png) no-repeat center left;
			.text {
				padding: 64px 64px 0px 400px;
				h2 {
					color: #141823;
					font-size: 20px;
					font-weight: 300;
					line-height: 24px;
					margin: 0;
					padding: 0;
				}
				p {
					color: #4e5665;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		.second_section {
			min-height: 230px;
			background: url(http://i.imgur.com/vFJ57rO.png) no-repeat 400px center;
			.text {
				padding: 32px 360px 32px 64px;
				h2 {
					color: #141823;
					font-size: 20px;
					font-weight: 300;
					line-height: 24px;
					margin: 0;
					padding: 0;
				}
				p {
					color: #4e5665;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
		.third_section {
			min-height: 329px;
			background: url(http://i.imgur.com/TJWGYeG.png) no-repeat 92px bottom;
			.text {
				padding: 32px 64px 32px 400px;
				h2 {
					color: #141823;
					font-size: 20px;
					font-weight: 300;
					line-height: 24px;
					margin: 0;
					padding: 0;
				}
				p {
					color: #4e5665;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
	.landing {
		background: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		-webkit-border-radius: 3px;
		margin-bottom: 20px;
		.inner {
			padding: 15px;
			text-align: center;
			h2 {
				color: #141823;
				font-size: 20px;
				font-weight: 300;
				line-height: 24px;
				margin: 0;
				padding: 0;
			}
			p {
				color: #4e5665;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	.update_counter {
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 20px;
		padding-top: 25px;
		margin-bottom: 15px;
		background: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		border-radius: 3px;
		text-align: center;
		.icon {
			font-size: 25px;
			color: rgba(134,195,93,.8);
			padding-bottom: 15px;
		}
		.title {
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
		}
		.meta {
			color: #9197a3;
			font-size: 12px;
			line-height: 16px;
		}
	}
}

